# [submodule "docs/external-information/claude-plugins-official"]
# 	path = docs/external-information/claude-plugins-official
# 	url = git@github.com:anthropics/claude-plugins-official.git
[submodule "docs/external-information/skills"]
	path = docs/external-information/skills
	url = git@github.com:anthropics/skills.git
	branch = main
[submodule "repos/fast-api-backend"]
	path = repos/fast-api-backend
	url = git@github.com:syahiidkamil/be-qwen-agent-rag.git
[submodule "repos/react-vite-frontend"]
	path = repos/react-vite-frontend
	url = git@github.com:syahiidkamil/fe-qwen-agent-rag.git
